01-variables-data-types
02-arrays-objects
03-functions-scope-execution
04-logic-and-flow-control
05-loops-iteration-array-methods
06-document-object-model
07-events
09-asynchronous-javascript
10-fetch-and-async-await
12-web-browser-apis
13-oop-constructors-prototypes
14-oop-classes-private-properties
17-iterators-data-structures
18-unit-testing-algorithms
19-nodejs-modules
20-randomideas-rest-api
21-randomideas-frontend